/* body{
    background-image:url("bluebgc.jpg");
    width:"100%";
    height:"100px";
    position:absolute;
}
.logo{
    position: fixed;
    left:30px;
    top:30px;
}
.menu{
    display: block;
    position: fixed;
    right: 170px;
    top: 32px;
    height: 42px;
    width: 42px;
    line-height: 42px;
    font-family:"montserrat-regular,sans-serif";
    text-decoration: uppercase;
    font-size: 30px;
    letter-spacing: 0.2rem;
    color: rgba(255,255,255);
    border:"1px";
}    
.menu-icon{
    display: block;
    position: fixed;
    right: 55px;
    top: 32px;
    height: 42px;
    width: 42px;
    } */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: block;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

html{
    scroll-behavior: smooth;

}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: #fff;
}

::-webkit-scrollbar-thumb{
    background-color: grey;
}

::-webkit-scrollbar-thumb:hover{
    background-color: gray;
}

body{
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-y: scroll;
}
#background{
    width: 100%;
    height: 130vh;
    background-image: url("./assets/setu-chhaya-4hlgFBv6IrM-unsplash.jpg");
    background-color: rgba(255,255,255,0.3);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    
}

/**********************Hamburger icon****************/
#toggleWrapper{
    position: fixed;
    width: 100px;
    height: 50px;
    z-index: 25;
    right: 7px;
    /* background-color: aquamarine; */
    /* cursor: pointer; */
}

#toggleButton{
    position: fixed;
    width: 50px;
    height: 21px;
    cursor: pointer; 
    z-index: 25;
    
    padding: 14px;
    -webkit-transition: ease-in-out .2s;
}

#toggleButton #hamburger{
    z-index: 25;
    position: absolute;
    height: 4px;
    width: 20px;
    top: 10px;
    left:15px;
    background-color: white;
    border-radius: 20px;
    -webkit-transition: ease-in-out .1s;
}

#hamburger::before,
#hamburger::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: white;
    -webkit-transition: ease-in-out .5s;
}

#hamburger::after{
    top: -6px;
}

#hamburger::before{
    top: 6px;
}

#toggleButton.active #hamburger{
    background-color: transparent;
}
#toggleButton.active #hamburger::before
{
    transform: rotate(-45deg);
    top: 0;
}
#toggleButton.active #hamburger::after{
    transform: rotate(45deg);
    top: 0;
}

#menu_div{
    width: 130px;
    height: 35px;
    padding-right: -10px;
    padding: 5px;
    display:block;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    position:fixed;
    right:30px;
    top:50px;
    z-index: 25;
}


/**********************Social Media Handles****************/
#social_media_handles{
 position: relative; 
 top: 450px;  
 left: -120px;
 -webkit-transition: ease-in-out 0.3s;
}

#social_media_handles::before{
    content: '';
    background-color: rgba(255,255,255,0.5);
    width: 2px;
    height: 50px;
    position: absolute;
    top: -60px;
    left: 10px;
}

#social_media_handles ul{
    list-style: none;
}

#social_media_handles i{
    color: rgba(255,255,255,0.4);
    font-size: 30px;
    margin-top: 10px;
    -webkit-transition: ease-in-out 0.3s;
}

#social_media_handles i:hover{
    color: #fff;
}
/**********************Slide Navbar****************/

#slide_nav{
    position: fixed;
    list-style: none;
    min-height: 100vh;
    max-height: 120vh;
    width: 20%;
    right: 0;
    z-index: 22;
    -webkit-transition: ease-in-out 0.8s;
    background-color: rgba(0,0,0,0.8);
}

.hide{
    -webkit-transition-delay: 0ms;
    -webkit-transition: ease-in-out 0.8s;
    display: none;
}

#slide_nav li{
    cursor: pointer;
    position: relative;
    font-weight: bold;
    top:95px;
    left: 50px;
    margin-top: 30px;
    color: rgba(255,255,255,1);
    font-size: 1.2rem;
    -webkit-transition: ease-in-out 0.5s;
}

#slide_nav li a{
    text-decoration: none;
    color: rgba(255,255,255,0.4);
    font-size: 1.3rem;
    font-weight: bold;
}

#slide_nav li:hover{
    color: white;
}

#slide_nav li a:hover{
    color: rgba(255,255,255,1);
}

#slide_nav.active{
    animation: slideOut 0.5s ease-in-out 0s 1 forwards;
}

@-webkit-keyframes slideOut{
    0%{right: -885px;}
    100%{right: 0;}
}

/*****************Club tagline and explore************/
#club_info{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: -20px;
    font-size:1.8rem ;
    color: white;  
}

#club_info div{
    margin-top: 5px;
}

/*************Explore button********************/

.my-btn{
    position: relative;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transition: transform 0.3s ease-in-out;
}

.my-btn:hover{
    transform: rotateX(-90deg);
}

.side{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 100%;
    position: absolute;
}


.default-side{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
    color: blueviolet;
    border: 2px solid rgb(28,12,53);
    background-color: white;
    font-weight: bolder;
    transform: translateZ(25px);
}


.hover-side{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    background-color: rgb(28,12,53);
    color: #fff;
    font-weight: bolder;
    border-width: 2px;
    border-color: rgb(28,12,53);
    transform: rotateX(90deg) translateZ(25px);
}

/************ABOUT US DIV**********/

#AboutUs{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 4rem;
    font-family: sans-serif;
}

#AboutUsTitle{
    color: #07617d;
    font-family: sans-serif;
    
}

#AboutUsTitle::before{
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    width: 3px;
    height: 70px;
    margin: 0 auto 2.5rem;    
}

#AboutUsContent{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Quote{
    margin: 1.3rem;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

#Content{
    margin-top: 1.2rem;
    font-size: 1.2rem;
    text-align: justify;
    margin: 1.3rem;
}
/*********************EVENT DIV*********************/

#EventBG{
    width: 100%;
    height: 210vh;
    margin-top: 10rem;
    position: relative;
    background-image: url("./assets/ContentBG.jpg");
    /* background: linear-gradient( to bottom, rgba(0, 0, 0, 0.85) 0%, transparent 100% ); */
    /* background-color: rgba(255,255,255,0.3); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#EventInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
}

#Event{
    margin-top: 5rem;
    color: rgba(255,255,255,0.5);
}

#WhatWeDo{
    margin-top: 2rem;
    font-size: 3rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    left: 1rem;
    color: #fff;
}

#EventContent{
    margin: 3rem;
    text-align: justify;
    color: white;
    font-size: 1.3rem;
}

#EventContent::after{
    content: '';
    background-color: rgba(255,255,255,0.2);
    width: 320px;
    height: 1px;
    display: block;
    margin: 5rem auto 2.5rem;
}

/***************Eventlistrow 1*******************/

#EventsListRow1,#EventsListRow2{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
    top: 5rem;
    color: white;
    width: 100%;
    height: 100%;
    text-align: ;
}

#Event1 div{
    margin-top: 1.5rem;
}
#Event2 div{
    margin-top: 1.5rem;
    
}

#EventInfo i{
    color: #cccc00;
    font-size: 3rem;
}

#Event1,#Event2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
}

/*****************EventListRow2*********************/

#EventsListRow{
    margin-top: 2rem;
}


/*********************FOOTER******************/

#footerBG{
    width: 100%;
    height: 80vh;
    display: block;
    background-color: rgba(0,0,0,0.9);
}

#footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff;
}

#Footer1,#Footer2,#Footer3{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
    margin-left: 2rem;
    position: relative;
    top: -4rem;
}

#footer h3::after{
    content: '';
    width: 80px;
    height: 0.2px;
    display: block;
    position: absolute;
    margin-top: 2rem;
    background-color: rgba(255,255,255,0.2);
}
#footer h3{
    margin-bottom: 5rem;
}

#Footer1 div{
    
}


/**********************Media Queries****************/

@media(max-width:1050px){

    #EventBG{
        height: 250vh;    
    }
}

@media(max-width:1050px){
    #slide_nav{
        width: 25%;
    }

    #social_media_handles i{
        font-size: 25px;
    }


    #social_media_handles::before{
        height: 40px;
        top: -50px;
    }

    #club_info{
        font-size:1.6rem ;
    }

    #background{
        height: 100vh;        
    }

    #social_media_handles{
        top: 350px;  
        left: -120px;
       }

    #EventBG{
        height: 220vh;    
    }
}

@media(max-width:952px){
    #slide_nav{
        width: 30%;
    }

    #EventBG{
        height: 240vh;    
    }
}

@media(max-width:860px){
    #EventBG{
        height: 250vh;    
    }
}

@media(max-width:800px){
    #slide_nav{
        width: 35%;
    }

    #club_info{
        font-size:1.3rem ;
        font-weight: bolder;
    }

}

@media(max-width:780px){
    #EventBG{
        height: 250vh;    
    }
}


@media(max-width:670px){
    #slide_nav{
        width: 40%;
    }

    #social_media_handles i{
        font-size: 20px;
    }


    #social_media_handles::before{
        height: 35px;
        top: -40px;
        left: 8px;
    }

    #background{
        height: 90vh;        
    }

    #social_media_handles{
        top: 335px;  
        left: -120px;
       }

    #EventBG{
        height: 255vh;    
    }
}

@media(max-width:650px){
    #EventBG{
        height: 320vh;    
    }

    #EventsListRow1,#EventsListRow2{
        flex-direction: column;
    }

    #EventsListRow1 div,#EventsListRow2 div{
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .Event3{
        margin-top: -2rem;
        margin-bottom: 3rem;
    }
}

@media(max-width:563px){
    #EventBG{
        height: 330vh;    
    }
}


@media(max-width:540px){
    #slide_nav{
        width: 45%;
    }
}

@media(max-width:525px){
    #EventBG{
        height: 340vh;    
    }
}


@media(max-width:405px){
    #menu_name{
        display: none;
    }

    #menu_div{
        width: 60px;
        height: 35px;
    }

    #toggleButton #hamburger{
        top: 10px;
        left: 45px;   
    }
}
@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  
/*****************HEIGHT MEDIA QUERIES**************/

@media(max-height:540px){
    #background{
        height: 200vh;
    }
}